/* ChannelPage.css */

.channel-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f9f9f9;
	border-radius: 5px;
	padding: 1rem;
	margin-bottom: 1rem;
}

h1 {
	text-align: center;
	width: 100%;
	color: #548385;
	margin-bottom: 2rem;
}

.new-post-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

.new-post-form label {
	font-weight: bold;
	color: #548385;
}

.new-post-form input,
.new-post-form textarea {
	width: 90%;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 6px;
}

.new-post-form textarea {
	height: 100px;
	resize: none;
}

.new-post-form button {
	background-color: #548385;
	color: white;
	font-size: 14px;
	padding: 5px 10px;
	margin-left: 10px;
	border-radius: 4px;
	cursor: pointer;
	border: none;
}

.new-post-form button:hover {
	background-color: #3166ac;
}

.posts {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h2 {
	color: #548385;
	margin-bottom: 1rem;
}
